.login-form{
    padding: 0 40px;
}
/* .input-select{
    background: #fff;
    width: 351px;
    height: 46px;
    margin-top: 15px;
}
.input-label{
    font-size: 13px !important;
} */
/* .MuiOutlinedInput-notchedOutline legend {
  font-size: 14px;
  color: red;
} */